<style>
  body {
    background-color: #fffafa;
    color: #4e4e4e;
    font-family: 'Playfair Display', serif;
  }

  h1 {
    color: #4e4e4e;
  }
</style>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 70%; margin-left: auto; margin-right: auto;">
  <h1 style="margin-bottom: 80px;">質問2: あなたの指は太いですか、それとも細いですか？</h1>

  <div style="display: flex; justify-content: center; align-items: center;">
    <%= link_to image_tag("thick_fingers.jpg", width: "500", height: "500"), question3_diagnoses_path(thick_fingers: true, long_fingers: @long_fingers), style: "margin-right: 20px;" %>
    <%= link_to image_tag("thin_fingers.jpg", width: "500", height: "500"), question3_diagnoses_path(thick_fingers: false, long_fingers: @long_fingers) %>
  </div>
</div>