<style>
  body {
    background-color: #fffafa;
    color: #4e4e4e;
    font-family: 'Playfair Display', serif;
  }

  h1 {
    color: #4e4e4e;
  }
</style>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 70%; margin-left: auto; margin-right: auto;">
  <h1 style="margin-bottom: 80px;">質問4: あなたの指は水かきが目立ちますか？あまり目立たないですか？</h1>

  <div style="display: flex; justify-content: center; align-items: center;">  
    <%= link_to image_tag("developed_web.jpg", width: "500", height: "500"), result_diagnoses_path(
      long_fingers: @long_fingers,
      thick_fingers: @thick_fingers,
      finger_shape: @finger_shape,
      webbed_fingers: true
    ), style: "margin-right: 20px;" %>
    <%= link_to image_tag("undeveloped_web.jpg", width: "500", height: "500"), result_diagnoses_path(
      long_fingers: @long_fingers,
      thick_fingers: @thick_fingers,
      finger_shape: @finger_shape,
      webbed_fingers: false
    ) %>
  </div>
</div>